<h2>Meus Dados <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :cep %>
  <%= f.text_field :cep, {"onblur" => "getEndereco()"}%></div>

  <div><%= f.label :logradouro %>
  <%= f.text_field :logradouro%></div>

  <div><%= f.label :bairro %>
  <%= f.text_field :bairro%></div>

  <div><%= f.label :cidade %>
  <%= f.text_field :cidade%></div>

  <div><%= f.label :estado %>
  <%= f.text_field :uf%></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %>
  <% end %>

  <div><%= f.label :nova_senha %> <i>(deixe em branco para não atualizar)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :contirme_a_nova_senha %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :senha_atual %> <i>(confirme o novo password)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Atualizar" %></div>
<% end %>

<h3>Cancelar minha conta!</h3>

<p><%= button_to "Remover seu cadastro", registration_path(resource_name), :data => { :confirm => "Você deseja remover seu cadastro?" }, :method => :delete %></p>

<%= link_to "Voltar", :back %>

<%= javascript_include_tag "getendereco" %>
