<h2>Cadastro</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true%></div>

  <div><%= f.label :cep %>
  <%= f.text_field :cep, {"onblur" => "getEndereco()"}%></div>

  <div><%= f.label :logradouro %>
  <%= f.text_field :logradouro%></div>

  <div><%= f.label :bairro %>
  <%= f.text_field :bairro%></div>

  <div><%= f.label :cidade %>
  <%= f.text_field :cidade%></div>

  <div><%= f.label :estado %>
  <%= f.text_field :uf%></div>

  <div><%= f.label :senha %>
  <%= f.password_field :password %></div>

  <div><%= f.label :confirme_a_senha %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Cadastrar"%></div>
<% end %>

<%= render "devise/shared/links" %>

<%= javascript_include_tag "getendereco" %>
