<h2>Cadastro</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true%></div>

  <div><%= f.label :cep %><br />
  <%= f.text_field :cep, {"onblur" => "getEndereco()"}%></div>

  <div><%= f.label :logradouro %>
  <%= f.text_field :logradouro%></div>

  <div><%= f.label :bairro %>
  <%= f.text_field :bairro%></div>

  <div><%= f.label :cidade %>
  <%= f.text_field :cidade%></div>

  <div><%= f.label :estado %>
  <%= f.text_field :cidade%></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Cadastrar" %></div>
<% end %>

<%= render "devise/shared/links" %>

<script>
function getEndereco() {
    if ($.trim($("#user_cep").val()) != "") {
      $.getScript("http://cep.republicavirtual.com.br/web_cep.php?formato=javascript&cep="+$("#user_cep").val(), function(){
      <!-- Atribuindo os valores para os componentes da página-->
    if(resultadoCEP["resultado"]){
        $("#user_logradouro").val(unescape(resultadoCEP["tipo_logradouro"]));
        $("#user_logradouro").val(unescape(resultadoCEP["logradouro"]));
        $("#user_bairro").val(unescape(resultadoCEP["bairro"]));
        $("#user_cidade").val(unescape(resultadoCEP["cidade"]));
        $("#user_uf").val(unescape(resultadoCEP["uf"]));
        } else {
          alert("Cep não encontrado.");
       }
       $("#lbcep").html(" CEP")});
    }
    else {
        alert("Informe um cep.");
    }
}
</script>
