<h2>Esqueceu sua senha?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit "Resetar senha" %></div>
  <br>
  <p> você receberá as instruções em seu email! </p>
<% end %>

<%= render "devise/shared/links" %>
