<ul class="nav nav-pills pull-right">
  <% if user_signed_in? %>
    <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
    <li><%= link_to "Meus dados", edit_user_registration_path %></li>
  <% else %>
    <li><%= link_to "Login", new_user_session_path %></li>
    <li><%= link_to "Cadastre-se!", new_user_registration_path %></li>
    <li><%= link_to "Produtos", products_path %></li>
    <li><%= link_to "Categorias!", categories_path %></li>
  <% end %>
</ul>
