<!DOCTYPE html>
<html>
<head>
  <title>Kwik</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-narrow">
  <div class="masthead">
    <%= render 'layouts/user_header' %>
    <h3 class="muted"><%= link_to "Kwik-E-Mart", root_path %></h3>
    <h5 class="muted">cadastre e aproveite as melhores ofertas! =)</h5>
  </div>
  <hr />
  <%= yield %>
<hr>
<div class="footer">
	<p> Kwik Ecommerce 2013 </p>
</div>
</div>
</body>
</html>
